/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ========================================================================= */
/* Begin custom site styles below */
/* ========================================================================= */

/*
  Type Style & Weight Reference
  ff-zwo-web-pro, sans-serif;
  ff-tisa-web-pro, serif;

*/

/* CSS Variables (aka Custom Properties) =================================== */


/* Foundational Styles ===================================================== */

* {
  box-sizing: border-box;
}

html { /* stylelint-disable-line */
  /* TODO: Add fallback families */
  font-family: jaf-bernino-sans, sans-serif;
  font-size: 1.125em; /* 18px */
  font-weight: 400;
  line-height: 1.3333333333em; /* 24px / 18px */
  text-rendering: optimizeLegibility;
}

.meta {
  font-family: antarctican-mono, monospace;
}

html,
#header,
#footer,
figcaption {
  color: #abbe29;
  background: #222523;
}

body { /* stylelint-disable-line */
  color: #222523;
  background: #bdcb5b;
}





/* Heading, Paragraph, & List Styles ======================================= */

h1 {
  font-size: 1.3333333333em; /* 24 / 18 */
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  font-size: 1.7777777778em; /* 32 / 18 */
  line-height: 1.125em; /* 36 / 32 */
  font-weight: bold;
}
h3 {
  font-weight: bold;
}

article > header {
  margin: 2em 0 1.3333333333em 0; /* 36/18, 24/18 */
}

.contact > h2 {
  margin-bottom: 0.375em; /* 12 / 32 */
}
.resume article > h2 {
  margin: 1.125em 0 0.375em 0; /* 36/32, 12/32 */
}

.experience h3 {
  font-weight: normal;
  border-bottom: 1px solid #222523;
  margin-bottom: 12px;
}
.experience h4 { font-weight: bold; }

p {
  margin-bottom: 0.6666666667em; /* 12px / 18px */
}

li {
  margin-bottom: 0.3333333333em; /* 6px / 18px */
}

ol,ul { /* stylelint-disable-line */
  margin-bottom: 0.6666666667em; /* 12px / 18px */
  margin-left: 1.4444444444em; /* 26px / 18px */
}

ol {
  list-style-type: decimal;
}
ul {
  list-style-type: square;
}

ul.archive,
header ol,
header ul,
.experience section > ol,
.experience section > ul {
  list-style-type: none;
  margin-left: 0;
}

.meta,
.meta li {
  margin: 0;
}

.experience ol > li {
  margin-bottom: 1.3333333333em; /* 24 / 18 */
}

.resume li > ul {
  border-left: 1px solid #333;
  padding-left: 1.6666666667em; /* 30 / 18 */
  margin-left: 0.6666666667em; /* 12 / 18 */
}

.resume .meta {
  margin-bottom: 0.6666666667em; /* 12 / 18 */
}
.resume .meta li:before {
  content: "»";
  padding-right: 0.3333333333em; /* 6 / 18 */
}
blockquote {
  font-style: italic;
  border-left: 6px solid #333;
  padding: 0.1666666667em 0 0.1666666667em 0.6666666667em; /* 3/18, 12/18 */
  margin-bottom: 0.6666666667em; /* 12px / 18px */
}

blockquote p {
  margin: 0.3333333333em 0; /* 6px / 18px */
}

img {
  display: block;
  max-width: 100%;
}
#book img {
  border: 1px solid #222523;
}
figure {
  margin-bottom: 1.3333333333em; /* 24 / 18 */
}
figcaption {
  padding: 0.8888888889em; /* 16px / 18px */
}



/* Inline Text Styles ====================================================== */

a {
  color: inherit;
  text-decoration-style: dotted;
}

h1 a {
  color: #EEE;
  text-decoration: none;
}

h3 a,
h4 a {
  text-decoration: none;
}

b,strong {
  font-weight: bold;
}

cite,em,i {
  font-style: italic;
}

blockquote cite,
blockquote em,
blockquote i {
  font-style: normal;
}



/* Landmark Styles ========================================================= */

#header,
#content,
#footer {
  padding: 0.8888888889em; /* 16px / 18px */
}

#footer {
  font-size: 0.75em; /* 13.5 / 18 */
}

#header {
  padding-top: 5.3333333333em; /* 96 / 18 */
}

#header h1 {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 0.6666666667em; /* 12/18 */
  padding: 0;
}
.nav li + li {
  margin-left: 0.6666666667em; /* 12/18 */
}
.nav a {
  display: block;
  text-decoration: none;
  line-height: 0;
  padding: 1em 0.6666666667em; /* 12/18 */
}

/* Landmark Contextual Styles ============================================== */



/* Styles for Source-code Examples ========================================= */

code,
pre {
  font-family: fira-mono, Menlo, Monaco, Consolas, "Courier New", Courier, monospace;
}
pre {
  font-size: 0.9444444444em; /* 17/18 */
  line-height: 1.4117647059em; /* 24/17 */
  margin-bottom: 0.9411764706em; /* 16/17 */
}
code {
  font-size: 0.9722222222em; /* 17.5 / 18 */
  font-weight: normal;
  font-style: normal;
  line-height: 0;
}
a code {
  color: inherit;
}
pre code {
  font-size: inherit;
  line-height: inherit;
  background: inherit;
  padding: 0;
}
header code,
.archive code {
  color: inherit;
  background: inherit;
  padding: 0;
}

/* Media Queries ========================================= */


@media screen and (min-width: 480px) {
  #header {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #header h1 {
    margin-right: 1em; /* 24 / 24 */
  }
  .nav {
    align-self: flex-end;
    justify-content: space-around;
  }
}

@media screen and (min-width: 620px) {
  html {
    font-size: 20px; /* 22 / 16 */
    line-height: 26px;
  }

  #header,
  #content,
  #footer {
    padding-left: 10%;
    padding-right: 10%;
  }

  #header > *,
  #content > *,
  #footer > * {
    max-width: 800px;
  }

  #book {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 13px;
  }
  #book h3 {
    grid-column: 1 / 3;
  }

}


/* ========================================================================= */
/* End custom site styles */
/* ========================================================================= */

/* stylelint-disable */

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+git+json+ruby */
code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#222523}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}





/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

.g body {
  position: relative;
}

.g body::after {
  background: url('data:image/svg+xml;utf8,<svg height="13" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

.g body:active::after {
  display: none;
}
