/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ========================================================================= */
/* Begin custom site styles below */
/* ========================================================================= */

/*
  Benton Style & Weight Reference
  (Audited 9/20/2019)
  `benton-sans`
  400: book + italic
  500: regular + italic
  700: bold + italic
  `benton-sans-condensed`
  400: book + italic
  700: bold + italic
*/

/* CSS Variables (aka Custom Properties) =================================== */

/*
  It's trendy to use :root to set global variables, but as a pseudo-
  selector, :root has the same specicifity as a class. Equally trendy on
  theme-switching examples is to use data attributes and the attribute
  selector. But I prefer the simplicity of a humble, old-school class
  selector.
*/

/*
  Default light theme, with a class for dark users who want to switch to the
  light theme.

  Reversible background/foreground colors derived from Solarized theme,
  https://ethanschoonover.com/solarized/
*/
html,
.light {
  --color-background: #fffbf0;
  --color-foreground: #001f27;
  --color-shaded-background: #eee8d5;
  --color-shaded-foreground: #002b36;
  --color-shaded-border: #657b83;
  --color-accent-primary: #2076b3;
  --color-p-base-emphasis: #586e75;
  --color-p-base-body: #657b83;
  --color-p-base-comments: #93a1a1;
  --color-p-base-background: #fdf6e3;
  --color-p-base-background-highlight: #eee8d5;
}

/* For older browsers or light users who want to switch to the dark theme */
.dark {
  --color-background: #001f27;
  --color-foreground: #fdf6e3;
  --color-shaded-background: #002b36;
  --color-shaded-foreground: #fdf6e3;
  --color-shaded-border: #657b83;
  --color-accent-primary: #cb4b16;
  --color-p-base-emphasis: #93a1a1;
  --color-p-base-body: #839496;
  --color-p-base-comments: #586e75;
  --color-p-base-background: #002b36;
  --color-p-base-background-highlight: #073642;
}

/* Newfangled media query to deliver the dark theme to users who so prefer */
@media screen and (prefers-color-scheme: dark) {
  /*
    While this autmoatically applies the dark theme for users whose
    preferences and browser support dark mode, there is the disadvantage
    of having to duplicate the `.dark` variables above. I fully supports
    delivering as much design as possible without JavaScript, this kind
    of duplication makes a pretty strong case for leaning more heavily
    on `window.matchMedia` and handling all theme-establishing and
    -switching logic in JavaScript itself. That said, it would be
    interesting to test the performance of the media query in CSS versus
    `window.matchMedia` in JavaScript.
  */
  html {
    --color-background: #001f27;
    --color-foreground: #fdf6e3;
    --color-shaded-background: #002b36;
    --color-shaded-foreground: #fdf6e3;
    --color-shaded-border: #657b83;
    --color-accent-primary: #cb4b16;
    --color-p-base-emphasis: #93a1a1;
    --color-p-base-body: #839496;
    --color-p-base-comments: #586e75;
    --color-p-base-background: #002b36;
    --color-p-base-background-highlight: #073642;
  }
}

/* Foundational Styles ===================================================== */

html {
  background: #fffbf0;
  background: var(--color-background);
  color: #001f27;
  color: var(--color-foreground);
  /* TODO: Add fallback families */
  font-family: benton-sans,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 1.0625em; /* 17px */
  font-weight: 500;
  line-height: 1.4117647059em; /* 24px */
  text-rendering: optimizeLegibility;
}


/* Heading, Paragraph, & List Styles ======================================= */

h1,h2,h3 {
  font-size: 1.333em; /* 22.661px */
  font-weight: 700;
  line-height: 1.3238603769em; /* 30px */
  padding-bottom: 0.5295441507em; /*12px */
}

p {
  padding-bottom: 0.7058823529em; /* 12px */
}

blockquote {
  color: #657b83;
  color: var(--color-p-base-body);
  font-weight: 400;
  padding: 0 0 0.7058823529em /* 12px */ 0;
}
blockquote p {
  background: #eee8d5;
  background: var(--color-shaded-background);
  border-left: 4px solid #657b83;
  border-left: 4px solid var(--color-shaded-border);
  margin: 0 -14px;
  padding: 0.3529411765em /* 6px */ 4px 0.3529411765em 10px;
}

ol:not([class]),
ul:not([class]) {
  padding-bottom: 0.3529411765em; /* 6px */
}
ol:not([class]) li {
  list-style-type: decimal;
  padding-bottom: 0.3529411765em; /* 6px */
}
ul:not([class]) li {
  list-style-type: circle;
  padding-bottom: 0.3529411765em; /* 6px */
}
.latest > li,
.archive > li {
  padding-bottom: 4.2352941176em; /* 72px */
}


/* Inline Text Styles ====================================================== */

a {
  color: #2076b3;
  color: var(--color-accent-primary);
  text-decoration: none;
}

b,strong {
  font-weight: bold;
}

cite,em,i {
  font-style: italic;
}


/* Landmark Styles ========================================================= */

#header,
#footer {
  padding: 2.1176470588em /* 36px */ 24px 0.7058823529em /* 12px */ 24px;
}
#footer {
  border: 0;
}
#content,
#about {
  padding: 1.4117647059em /* 24px */ 24px;
}

/* 540px */
@media screen and (min-width: 33.75em) {
  #header,
  #footer,
  #content,
  #about {
    padding-left: 10%;
    padding-right: 10%;
  }
}
/* 660px */
@media screen and (min-width: 41.25em) {
  #header,
  #footer,
  #content,
  #about {
    padding-left: 15%;
    padding-right: 15%;
  }
}
/* 820px */
@media screen and (min-width: 51.25em) {
  #header,
  #footer,
  #content,
  #about {
    padding-left: 20%;
    padding-right: 20%;
  }
  #header,
  #footer {
    padding-top: 4.2352941176em; /* 72px */
    padding-bottom: 1.4117647059em; /* 24px */
  }
}
/* 1000px */
@media screen and (min-width: 62.5em) {
  #header,
  #footer,
  #content,
  #about {
    padding-right: 30%;
  }
}
/* 1200px */
@media screen and (min-width: 75em) {
  html {
    font-size: 1.25em;
  }
}
/* Landmark Contextual Styles ============================================== */

#header h1 {
  font-weight: 500;
}

#content header {
  padding-bottom: 1.4117647059em; /* 24px */
}

#content h1 {
  font-family: benton-sans-condensed;
  font-size: 1.7647058824em; /* 30px */
  line-height: 0.8333333333em; /*36px */
  padding-bottom: 0;
}


/* Styles for Source-code Examples ========================================= */

code,
pre {
  background: #fdf6e3;
  background: var(--color-p-base-background);
  color: #657b83;
  color: var(--color-p-base-body);
  font-family: Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
  font-size: 0.9411764706em; /* 16px */
  font-style: normal;
  font-weight: normal;
  padding: 0 0.25em 0 0.25em; /* 4px */
}
pre {
  margin: 0 -14px 0.75em /* 12px */ -14px;
  padding: 0.375em /* 6px */ 4px 0.375em /* 6px */ 14px;
}
blockquote code {
  background: inherit;
}
header code,
.archive code {
  color: inherit;
  background: inherit;
  padding: 0;
}
pre code {
  padding: 0;
  background: inherit;
}


/* ========================================================================= */
/* End custom site styles */
/* ========================================================================= */


/* PrismJS 1.17.1
 * Using a custom implementation of the Solarized palette
 * https://ethanschoonover.com/solarized/
 */

code[class*="language-"],
pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  white-space: normal;
}

/* TODO: Alphabetize and sort these */

.language-json .token.property,
.language-bash .token.number,
.language-bash .token.string {
  color: #657b83;
  color: var(--color-p-base-body);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.cdata {
  color: #93a1a1;
  color: var(--color-p-base-comments);
}

.token.bold,
.token.punctuation {
  color: #586e75;
  color: var(--color-p-base-emphasis);
}

.token.doctype,
.token.cdata,
.token.atrule .token.rule,
.token.operator,
.token.symbol,
.token.method-definition .token.function,
.language-json .token.boolean,
.language-json .token.number,
.language-git .token.parameter {
  color: #859900; /* green */
}
.token.tag,
.token.selector,
.token.class-name,
.token.constant {
  color: #d33682; /* magenta */
}
.token.attr-value,
.token.attr-value .token.punctuation + .punctuation,
.token.string {
  color: #268bd2; /* blue */
}
.token.attr-name,
.token.attr-value .token.punctuation,
.token.property,
.token.keyword,
.language-ruby .token.number {
  color: #6c71c4; /* violet */
}

.token.boolean,
.token.number,
.token.variable {
  color: #2aa198; /* cyan */
}

.token.entity,
.token.important {
  color: #dc322f; /* red */
}

.token.atrule,
.token.function,
.language-ruby .token.keyword,
.token.command {
  color: #cb4b16; /* orange */
}

.token.regex,
.language-json .token.operator {
  color: #b58900; /* yellow */
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted,
.token.deleted {
  color: inherit;
}






/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

.g body {
  position: relative;
}

.g body::after {
  background: url('data:image/svg+xml;utf8,<svg height="24" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

.g body:active::after {
  display: none;
}
