<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title}}: {% endif %}stolley.dev</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
  <link rel="stylesheet" href="/assets/css/screen.css" />
  <link rel="stylesheet" href="https://use.typekit.net/wxg6qvw.css" />
  <link rel="alternate" type="application/atom+xml" title="All Posts" href="https://stolley.dev/feeds/all.xml" />
  <link rel="alternate" type="application/atom+xml" title="Linked Posts" href="https://stolley.dev/feeds/linked.xml" />
  <link rel="alternate" type="application/json" title="JSON All Posts" href="https://stolley.dev/feeds/all.json" />
</head>
<body class="{{ page.categories | join: " " }}">
<header id="header">
  <h1><a href="https://stolley.dev/">stolley.dev</a></h1>
</header>
<main id="content">

  {{ content }}

</main>

{% include aside.html %}

<footer id="footer">
  <small>Site content &amp; design by Karl Stolley.</small>
  <a href="https://github.com/karlstolley/stolley.dev" id="github">Source on Github</a>.
</footer>
<script src="/assets/js/site.js"></script>
</body>
</html>
