  {% include header.html %}

  <!-- With leaner layout -->
  <article class="{{ page.categories }}">
    <header>
      <h1><a href="{{ page.link }}">{{ page.title | markdownify }}</a></h1>
      <ul class="meta">
        {% assign link_parts = page.link | split: "/" %}
        <li>{{ page.date | date: "%-d %B %Y" }}</li>
        <li><a href="{{ page.link }}">{{ link_parts[2] }}</a><!-- domain of link, linked to the item --></li>
      </ul>
    </header>
    {{ content }}
  </article>

  {% include aside.html %}
  {% include footer.html %}
