{% include head.html %}

<body class="linked">

  {% include header.html %}

  <main id="content">
    <header>
      <h1>{{ page.title | markdownify }}</h1>
      <ul class="meta">
        {% assign link_parts = page.link | split: "/" %}
        <li>{{ page.date | date: "%-d %B %Y" }}</li>
        <li><a href="{{ page.link }}">{{ link_parts[2] }}</a><!-- domain of link, linked to the item --></li>
      </ul>
    </header>
    {{ content }}
  </main>

  {% include aside.html %}
  {% include footer.html %}

</body>
</html>
